@import "../../../styles/variables.scss";

.banner {
  padding-top: 100px;
  padding-bottom: 50px;
  background: $gradient;
  position: relative;
}
.title {
  font-family: $primary-font;
  font-size: 30px;
  color: $yellow-primary;
  text-align: center;
}
.button {
  margin: 25px 0;
  border-radius: 50px;
  padding: 20px 30px;
  background-color: #fff;
  border: none;
  font-size: 30px;
  font-family: $secondary-font;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: $transition;
  transform: translateY(0);
  &:hover {
    transform: translateY(-5px) !important;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px !important;
  }
}
.coffee_ball_area {
  position: absolute;
  top: 45%;
  right: 10%;
  transform: translateY(-50%);
}
@media screen and (max-width: 358px) and (min-width: 270px) {
  .banner {
    padding-top: 130px !important;
  }
}

@media screen and (max-width: 768px) {
  .coffee_ball_area {
    display: none;
  }
}