// Font Family:

$primary-font: "Chelsea Market", cursive;
$secondary-font: "Neuzeit";

// Color Codes:
$yellow-primary: #effe95;
$purple-primary: #3c2e5e;
$pink-primary: #f6a0a9;
$green-primary: #035772;
$pink-secondary: #f0ced1;

// Background Gradients:
$gradient: linear-gradient(180deg, #f6a0a9 0%, #adbffd 100%);
$gradient-reverse: linear-gradient(180deg, #adbffd 0%, #f6a0a9 100%);
$transition: all 0.3s ease-in-out;
